@model CompanyDiscount.Web.Models.CompaniesListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Companies</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
           @foreach (var company in Model.Companies)
           {
               <div class="col-md-3">
                   <div class="well">
                       @if (this.User.IsInRole("Employee"))
                       {
                           <h4><a href="#" class="text-primary">@company.Name</a></h4>
                       }
                       else
                       {
                        <h4>@company.Name</h4>
                       }

                   </div>
               </div>
           }
        </div>
    </div>
</div>