@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<br />
<br />
<div class="row text-center">
    <h2>Enjoy all Discounts</h2>
</div>
<br/>
<br/>
<br /><br />
<br />
<br />
<div class="row text-center">
    <h2>Search for your favourite place</h2>
</div>
<br/>
<br/>
<br /><br />
<br />
<br />
<div class="row text-center">
    <h2>Take what is meant to be yours</h2>
</div>
