@model CompanyDiscount.Web.Models.BusinessListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Businesses</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            @foreach (var business in Model.Businesses)
            {
                <div class="col-md-3">
                    <div class="well">
                        @if (this.User.IsInRole("Employee"))
                        {
                            <h4>@Html.ActionLink(business.Name, "Details", "Businesses" , new {id = business.Id}, new {})</h4>
                        }
                        else
                        {
                            <h4>@business.Name</h4>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

