<div class="col-md-3 widget">
    <div class="r3_counter_box">
        <i class="fa fa-usd"></i>
        <div class="stats">
            <h5>70 <span>%</span></h5>
            <div class="grow grow2">
                <p>Likes</p>
            </div>
        </div>
    </div>
</div>
