@model int?

<div class="col-md-3 widget widget1" onclick="window.location.href='@Url.Action("Index", "Companies")'">
    <div class="r3_counter_box">
        <i class="fa fa-users"></i>
        <div class="stats">
            <h5>@Model</h5>
            <div class="grow grow1">
                <p>New Companies</p>
            </div>
        </div>
    </div>
</div>
