
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="graphs">
        <div class="col_3">
            @{
                Html.RenderAction("NewCompanies", "PartialViews");
                Html.RenderAction("NewBusinesses", "PartialViews");
            }
            @*@Html.Partial("../PartialViews/Visitors")
            @Html.Partial("../PartialViews/Likes")*@

        </div>
        <div class="clearfix"> </div>
    </div>
</div>


